.section {
    padding-top: 125px;
}

.sticky-top{
    top: 70px;
    margin-top: 50px;
}

.navbar-default+.container-fluid {
    margin-top: 50px;
}

h3,p {
    text-align: center;
}

p {
    text-align: center;
    margin: 0%;
    padding: 0%;
}